.header {
    width: 100%;
    height:auto;

    /* background:#ffffff; */
    .navbar {
        width: 100%;
        height: auto;
        background: linear-gradient(90deg, rgba(234, 234, 234, 0) 0%, rgba(244, 244, 244, 0.55) 81.41%, rgba(255, 255, 255, 0) 100%);
        padding: 24px 0;

        .d-row-rspn {
            justify-content: space-between;
            gap: 20px;
        }

        .logo {
            align-items: center;
            justify-content: space-between;

            .logo-img {
                width: 150px;
            }

            .toggle-btn {
                display: none;

                @media (max-width:600px) {
                    display: block;
                    cursor: pointer;
                }

                div {
                    width: 30px;
                    height: 3px;
                    background-color: var(--dark-color);
                    margin: 6px 0;
                }
            }
        }
        .menu {
            /* background: blue; */
            display:flex !important;
            align-items: end; 
            padding:10px;
            gap:10px;
            flex-direction: column;
        }
        .rspn-menu {
            height: auto;
            display: flex !important;
            gap: 20px;
            align-items: start;
            flex-direction: column-reverse;
            /* background: green !important; */
        }
        .cto-btn{
            display:flex;
            gap:20px;
            button:first-child{
                background-color: var(--primary-color) ;
                border:none;
                padding:15px 25px;
                border-radius: 5px;
                color:var(--dark-color);
                font-family: var(--font-family);
                font-weight: var(--medium);
                font-size: 14px;
            }
            button:last-child{
                background-color: var(--secondary-color) ;
                border:none;
                padding:15px 25px;
                border-radius: 5px;
                color:var(--light-color);
                font-family: var(--font-family);
                font-weight: var(--medium);
                font-size: 14px;
            }
        }
        .menu-list{
            display:flex;
            flex-direction: row;
            gap:20px;

            a{
                text-decoration: none;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 179%;
                letter-spacing: 0.02em;
                color: var(--dark-color);
            }
             @media (max-width:600px){
                flex-direction: column;
                gap:10px;
             }
        }
    }

    .banner{
        width:100%;
        height:auto;
        background:green;
        position: relative;
        align-content: center;
        .carousel-content{
            width:100%;
            display:flex;
            overflow:hidden;
            /* scroll-snap-type:x-mandtory; */
            scroll-snap-align: center;
            .carousel{
                width:100%;
                height:40vh;
                background:blue;
                flex-shrink: 0;;
            }
            .carousel:nth-child(1){
                background:blue;
            }
            .carousel:nth-child(2){
                background:pink;
            }
            .carousel:nth-child(3){
                background:red;
            }
            .carousel:nth-child(4){
                background:lime;
            }
        }
        .carousel-control{
            /* width:100%; */
            height:auto;
            /* background:red; */
            display:flex;
            gap:20px;
            justify-content: center;
            flex-direction: column;
            position:absolute;
            z-index: 111;
            bottom:0;
            margin-bottom:11vh;
            right:2pc;
            
             @media  only screen and (max-width:1200px){
                display:none;
             }
            input{
                display:none;
            }
            
            label{
                width:10px;
                height:10px;
                border:2px solid #f1f1f1;
                border-radius: 50%;
                
            }
            input[type="radio"]:checked + label{
                width:10px;
                height:10px;
                border:2px solid #f1f1f1;
                border-radius: 50%;
                background:green;
            }
            /* .active{
                width:10px;
                height:10px;
                border:2px solid #f1f1f1;
                border-radius: 50%;
                background:green;
            } */
            /* input[type="radio"]:checked ~ .carousel{
                display:block;
            } */
            
        }
    }
    .banner::-webkit-scrollbar{
        display:none;
    }
}
