.main{
    width:100%;
    height:auto;

    section:nth-child(1){
        background:#ffffff;
        height:auto;
        padding:3pc 0;
        .d-row-rspn{
            gap:20px;
            align-items: center;
            align-content: center;
            @media(max-width:600px){
                flex-direction: column-reverse;
            }
        }
        .d-col{
            gap:20px;
        }
        .left-content{
            /* width:50%; */
            gap:10px;
            .title{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 24px;
                color: #050329;
            }
            .heading{
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 42px;
                letter-spacing: 0.02em;
                color: #0239c7;
            }
            .para{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 179%;
                letter-spacing: 0.02em;
                color: rgba(5, 3, 41, 0.8);
            }
            button{
                margin-top:1pc;
                width:55%;
                background: #fedb27;
                padding:15px;
                border:none;
                border-radius: 5px;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 14px;
                color: #050329;
            }
        }
        .right-image{
            @media(max-width:600px){
                img{
                    width:100%;
                }
            }
        }
        .slider-container{
            position: relative;
            margin-top: 2pc;
            .slider{
                width:100%;
                height:auto;
                /* background:green; */
                overflow:auto;
                scroll-behavior: smooth;
                gap:20px;
                .slider-content{
                    width:300px;
                    height:30vh;
                    background:#f1f1f1;
                    flex-shrink: 0;
                    margin:20px 0;
                    border-radius: 5px;
                }
                .slider-content:first-child{
                    margin-left: 8pc;
                    @media(max-width:600px){
                        margin-left: 20px;
                    }
                }
                .slider-content:last-child{
                    margin-right: 8pc;
                    @media(max-width:600px){
                        margin-right: 20px;
                    }
                }
            }
            .slider::-webkit-scrollbar{
                display:none;
            }
            .left,.right{
                background:transparent;
                border: none;
                position:absolute;
                top:14vh;
                cursor: pointer;
            }
            .left{
                left:5.8pc;
                @media(max-width:600px){
                    display:none
                }
            }
            .right{
                right:5.8pc;
                @media(max-width:600px){
                    display: none;
                }
            }
        }
    }
    section:nth-child(2){
        background:#F7F7F7;
        background-image: url('../assets/images/bg.svg');
        height:auto;
        padding:3pc 0;

        .top-title{
            gap:10px;
            span:first-child{
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 24px;
                color: #050329;
                text-align: center;
            }
            span:last-child{
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 179%;
                letter-spacing: 0.02em;
                text-align: center;
                color: rgba(5, 3, 41, 0.8);
            }
        }
        .bottom-content{
            margin-top: 30px;
            display:flex;
            flex-wrap: wrap;
            /* background: green; */
            width:100%;
            justify-content: center;
            gap:10px;
            input{
                display:none;
            }
            label{
                cursor: pointer;
                background: #e6e6e6;
                padding:15px 25px;
                border-radius: 50px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                line-height: 179%;
                letter-spacing: 0.02em;
                color: #050329;
            }
            input[type="radio"]:checked + label{
                color:var(--light-color);
                background: var(--secondary-color);
                font-weight: 700;
            }
            .tab-content{
                order:1;
                width:100%;
                display:none;
                margin-top: 20px;;
            }
            input[type="radio"]:checked + label + .tab-content{
                display:block;
            }
            .content-container{
                display:flex;
                flex-wrap: wrap;
                gap:20px;
                /* background:green; */
                .content-items{
                    width:30%;
                    padding:10px;
                    height:300px;
                    background:#ffffff;
                    border-radius: 10px;
                    @media(max-width:600px){
                        flex-grow: 1;
                        flex-basis: 300px;
                    }
                }
                
            }
        }
    }
    section:nth-child(3){
        background:#F9F9F9;
        height:100vh;
        padding:3pc 0;
    }
    section:nth-child(4){
        background:#ffffff;
        height:100vh;
        padding:3pc 0;
    }
    section:nth-child(5){
        background:#fafafa;
        height:100vh;
        padding:3pc 0;
    }
    section:nth-child(6){
        background:#fdfdfd;
        height:100vh;
        padding:3pc 0;
    }

}